@model List<StammtischControl.Models.Entidades.CadastroGeral.Participante>
@using StammtischControl.Models.Entidades.CadastroGeral
@{
    ViewBag.Title = "Participantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Participantes</h2>
            @Html.ActionLink("Novo", "FrmCadastroParticipante", "Participante", new { area = "" }, new { @class = "btn btn-primary" , @id="NovoParticipante"})
            <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        @foreach (Participante participante in @Model)
        {
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <h4 class="media-heading">@Html.ActionLink(@participante.Nome, "FrmEditarParticipante", new { @id = @participante.Id }, new {@id="participante_"+@participante.Id})</h4>
                    <p> CPF: @participante.CPF</p>
                    <p>E-mail: @participante.Email</p>
                    <p>Telefone: @participante.Telefone</p>
                </div>
            </div>
        }
    </div>
</div>