@model List<StammtischControl.Models.Entidades.CadastroGeral.Participante>
@using StammtischControl.Models.Entidades.CadastroGeral
@{
    ViewBag.Title = "Participantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Participantes</h2>
@Html.ActionLink("Novo", "FrmCadastroParticipante", "Participante", new { area = "" }, new { @class = "navbar-brand" })
<br />
<article>
    @foreach (Participante participante in @Model)
    {
        <section class="list">
            <b>@participante.Nome</b>
            CPF: @participante.CPF<br/>
            E-mail: @participante.Email<br />
            Telefone: @participante.Telefone<br />
        </section>
    }
</article>


